{% extends 'partials/base.html.twig' %}
{% set arrow_icon = fa_icon('regular/arrow-right.svg', 'w-4 h-4 ml-2 text-current') %}

{% block body %}
    <section class="bg-gray-50 dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-16">
                <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white tracking-tight">{{ page.title }}</h1>
                {% if page.header.subtitle %}
                <div class="font-light text-gray-500 dark:text-gray-400 sm:text-xl">{{ page.header.subtitle }}</div>
                {% endif %}
            </div>
            <div class="space-y-4 sm:grid sm:grid-cols-2 xl:grid-cols-3 sm:space-y-0 sm:gap-4 md:gap-8 xl:gap-8 ">
                {% for contact in page.header.contacts %}
                <div class="flex flex-col p-6 bg-white rounded shadow dark:bg-gray-800">
                    <div
                        class="flex justify-center items-center mb-4 w-12 h-12 p-2 rounded bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-800/75">
                        {{ fa_icon(contact.icon, 'text-primary-600 dark:text-primary-500')|raw }}
                    </div>
                    <h2 class="mb-2 text-xl font-bold dark:text-white">{{ contact.title }}</h2>
                    <div class="prose dark:prose-invert font-light text-gray-500 dark:text-gray-400 mb-6 flex-1">{{ contact.text|markdown }}</div>
                    <div class="border-t border-gray-100 dark:border-t-gray-700 pt-6">
                        <div class="inline-flex flex-wrap gap-2">
                        {% for action in contact.actions %}
                            <a href="{{ action.link }}" class="button button__xs button__primary whitespace-nowrap">{{ action.text }}{{ arrow_icon|raw }}</a>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="space-y-4 md:grid md:grid-cols-2 md:space-y-0 md:gap-8 lg:gap-12 mt-8 md:mt-16 lg:mt-24">
                {% for location in page.header.locations %}
                <div class="{% if not loop.last %}border-r border-gray-100 dark:border-gray-700{% endif %}">
                    <h3 class="mb-2 text-xl font-bold dark:text-white">{{ location.title }}</h3>
                    <div class="prose dark:prose-invert">
                        <h4>{{ page.header.address_title }}:</h4>
                        {{ location.address|markdown }}

                        <h4>{{ page.header.company_info_title }}:</h4>
                        {{ location.company_info|markdown }}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="border-t border-gray-100 dark:border-t-gray-700 pt-8 mt-8">
                <h3 class="mb-2 text-xl font-bold dark:text-white">{{ page.header.data_centers_title }}</h3>
                <div class="inline-flex flex-wrap gap-2">
                {% for center in page.header.data_centers %}
                    <span class="bg-gray-100 text-gray-800 text-base font-medium inline-flex items-center px-2.5 py-0.5 rounded-sm me-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-300 dark:border-gray-600 ">
                        {{ center }}
                    </span>
                {% endfor %}
                </div>
            </div>
            <div id="form" class="border-t border-gray-100 dark:border-t-gray-700 pt-8 mt-8">
                <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
                      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">{{ page.header.form_title }}</h2>
                      <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">{{ page.header.form_subtitle }}</p>

                      {% include "forms/form.html.twig" with {form: forms('contact-us')} %}
                  </div>

            </div>
        </div>
    </section>
{% endblock %}