<article data-guideline-card data-tags="{{ guideline.taxonomy.tag|json_encode }}" data-title="{{ guideline.title }}" class="prose">
    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        <a href="{{ guideline.url }}" class="hover:text-primary-700 focus:outline-none focus:underline">{{ guideline.title }}</a>
    </h2>
    <div class="flex flex-wrap gap-1 mb-4">
        {% for tag in guideline.taxonomy.tag %}
            <span class="inline-flex nowrap text-xs px-2 py-0.5 rounded-md bg-gray-200 text-gray-700">{{ tag }}</span>
        {% endfor %}
    </div>
    {# WCAG 1.4.3 - prose class handles colors for a, code, em elements #}
    <div class="mb-4 font-light">
        {{ (guideline.content)|raw }}
    </div>
</article>
