{% set intro = page.header.intro %}
{% set logos = page.header.logos %}
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-xl">
    <h2 class="mb-4 text-3xl font-extrabold tracking-tight leading-tight text-center text-gray-900 dark:text-white md:text-4xl">{{ intro.title }}</h2>
    <p class="mb-4 text-base font-light text-center text-gray-500 md:text-xl sm:px-14 md:px-24 lg:px-56 xl:px-72">{{ intro.subtitle }}</p>
    <div class="mt-6 space-y-4 md:grid md:grid-cols-2 lg:grid-cols-4 md:gap-4 xl:gap-8 md:space-y-0 md:mb-8 md:mt-12">
      {% for logo in logos|randomize %}
        <a href="{{ logo.url }}" target="_blank"
           class="flex justify-center items-center p-8 text-center bg-gray-100/75 rounded hover:bg-gray-200/75 dark:hover:bg-gray-700 dark:bg-gray-800/75 group">
          <img src="{{ page.media[logo.image].url }}" class="{{ logo.classes }} mix-blend-luminosity object-cover opacity-80 group-hover:opacity-100 transition" alt="{{ logo.title }}"/>
        </a>
      {% endfor %}
    </div>
  </div>
</section>