{% set title = page.title %}
{% set content = page.content %}
{% set buttons = page.header.buttons %}

<section class="bg-linear-to-b from-white to-gray-100 dark:from-gray-900 dark:to-gray-800 relative py-16 lg:pb-16">
    <div class="mx-auto max-w-screen-lg">
        <div class="px-4 lg:px-6">
            <div class="text-center mb-6">
                <h1 class="mb-8 md:mb-16 text-4xl font-extrabold leading-none text-gray-900 dark:text-white md:text-5xl lg:text-6xl tracking-tight">{{ title }}</h1>
            </div>
            {% if content|trim %}
                <div class="mx-auto relative prose dark:prose-invert max-w-none mb-8 md:mb-16 {{ content_classes }}">
                    {{ content|raw }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="max-w-screen-md mx-auto text-center">
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
            {% for button in buttons %}
                <a href="{{ url(button.link) }}"
                   class="button button__xl {{ button.button_type }}">
                    {{ button.text }}
                </a>
            {% endfor %}
        </div>
    </div>
</section>

