{% set content = page.content %}
{% set cards = page.header.cards %}
{% set tiers = page.header.tiers %}
{% set extras = page.header.extras %}
{% set featured = page.header.featured %}
{% set first = page.header.first %}
{% set content_classes = page.header.content_classes %}
{% set prose_classes = page.header.prose_classes|default('prose dark:prose-invert') %}
{% set h1_classes = page.header.h1_classes %}
{% set h2_classes = page.header.h2_classes %}
{% set background = page.header.background|default('bg-linear-to-b from-white to-gray-100 dark:from-gray-900 dark:to-gray-800')  %}

<style>
    price {
        color: var(--color-primary-600);
        font-weight: bold;
    }
</style>

<section class="{{ background }} relative py-16 lg:pb-16">
    <div class=" mx-auto max-w-screen-xl">
        <div class="px-4 lg:px-6">
            <div class="text-center mb-6">
                {% if first %}
                    <h1 class="mb-8 md:mb-16 text-4xl font-extrabold leading-none {{ h1_classes|default('text-gray-900 dark:text-white md:text-5xl') }} lg:text-6xl tracking-tight">{{ first }}</h1>
                {% else %}
                    <h2 class="mb-4 md:mb-8 inline-flex mx-auto text-4xl tracking-tight font-extrabold border-b-4 {{ h2_classes|default('text-gray-900  border-gray-300 dark:text-white dark:border-gray-700') }}">{{ page.title }}</h2>
                {% endif %}
            </div>
            {% if content|trim %}
            <div class="mx-auto relative {{ prose_classes }} max-w-none mb-8 md:mb-16 {{ content_classes }}">
                    {{ content|raw }}
            </div>
            {% endif %}
        </div>
        {% if cards %}
            <div class="space-y-8 md:grid md:grid-cols-2 xl:grid-cols-4 md:gap-8 xl:gap-8 md:space-y-0 ">
                {% for card in cards %}
                <div class="p-6 bg-white rounded shadow dark:bg-gray-800 flex flex-col">
                    <h3 class="mb-2 mt-2 text-xl font-bold dark:text-white">{{ card.title }}</h3>
                    <div class="flex-1 prose dark:prose-invert font-light text-gray-500 dark:text-gray-400">{{ card.body|markdown }}</div>
                    {% if card.footer %}
                    <div class="mt-4 prose dark:prose-invert font-light text-gray-500 dark:text-gray-400">
                        {{ card.footer|convert_svgs|markdown }}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if tiers %}
        <div class="flex gap-6 flex-col md:flex-row">
            {% for tier in tiers %}
                <div class="p-6 bg-white rounded shadow dark:bg-gray-800 flex flex-col">
                    <h3 class="mb-2 mt-2 text-xl font-bold dark:text-white">{{ tier.title }}</h3>
                    <div class="flex-1 prose dark:prose-invert font-light text-gray-500 dark:text-gray-400">{{ tier.body|markdown }}</div>
                </div>
                {% if loop.first %}
                <div class="flex min-h-12 md:min-h-auto md:min-w-12 items-center justify-center relative">
                    <div class="hidden md:block absolute inset-0 w-[2px] h-full bg-gray-200 dark:bg-gray-700 left-1/2 top-0 bottom-0 -translate-x-1/2"></div>
                    <div class="block md:hidden absolute inset-0 h-[2px] w-full bg-gray-200 dark:bg-gray-700 top-1/2 left-0 right-0 -translate-y-1/2"></div>
                    <div class="absolute -translate-y-1/2 -translate-x-1/2 left-1/2 top-1/2 text-gray-700 bg-white dark:text-gray-500 dark:bg-gray-900 py-2 rounded-full w-12 h-12 text-xl font-bold text-center">OR</div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% if extras %}
        <div class="px-4 lg:px-6 pt-16 max-w-screen-lg mx-auto">
            <div class="text-center mb-6">
                <h3 class="mb-4 md:mb-8 inline-flex mx-auto text-2xl tracking-tight font-extrabold text-gray-900 dark:text-white">{{ extras.title }}</h3>
            </div>
            <div class="grid {{ extras.grid|default('md:grid-cols-2 lg:grid-cols-4') }} gap-6 prose dark:prose-invert max-w-none">
                {% for item in extras.included %}
                <div class="text-center">
                    {{ fa_icon(item.icon, 'w-16 h-16 text-current mb-2')|raw }}
                    <div class="font-lg">{{ item.title }}</div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if featured %}
            <div class="mx-auto p-6 bg-white rounded shadow dark:bg-gray-800 max-w-screen-lg mt-16">
                <h3 class="mb-4 md:mb-8 inline-flex mx-auto text-2xl tracking-tight font-extrabold text-gray-900 dark:text-white">{{ featured.title }}</h3>
                <div class="prose dark:prose-invert max-w-none">
                    {{ featured.body|markdown }}
                </div>
            </div>
        {% endif %}
    </div>

</section>

